.main_title{
    font-size:50px;
    text-align: center;
    padding:1%;
    font-family: 'Times New Roman', Times, serif;
}

#google_logo{
    width:100%;
    text-align: center;
}

#world_map{
    padding: 0.5% 0 0 0;
    text-align: center;
    margin: 0 auto;
    display:block;
    width:80%;
}

.graph_title{
    text-align: center;
    padding-top: 2%;
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
}

#android_title{
    text-align: center;
    margin-top: 2%;
    padding-top: 1%;
    padding-bottom: 1%;
    font-size: 33px;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 10%;
    margin-right: 10%;
    background-color:green;
    font-weight: bold;
    color:white;
}

#browser_title{
    text-align: center;
    margin-top: 2%;
    padding-top: 1%;
    padding-bottom: 1%;
    font-size: 33px;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 10%;
    margin-right: 10%;
    background-color:orange;
    font-weight: bold;
    color:white;
}

.annotation{
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 2%;
    padding-bottom: 1%;
    text-align: justify;
    align-self: center;
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
}

#graphs_aggregrate{
    width:80%;
    margin:auto;
    vertical-align: top;
    padding-top: 1.5%;
    text-align: center;
    font-size:0;
}


#browser_compiled, #search_engine_compiled{
    width:50%;
    margin:auto;
    text-align: center;
    display:inline-block;
}

#desktop_market_share, #search_engine_share{
    height: 25rem;
    width:100%;
    padding-left: 0;
    padding-right: 0;
}

#revenue_title{
    text-align: center;
    margin-top: 2%;
    padding-top: 1%;
    padding-bottom: 1%;
    font-size: 38px;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 10%;
    margin-right: 10%;
    background-color:dodgerblue;
    font-weight: bold;
    color:white;
}

#revenue_content{
    width:70%;
    margin:auto;
    vertical-align: top;
    padding-top: 1.5%;
    text-align: center;
    display:inline-block;
}

#revenue_graph_aggregrate{
    margin:auto;
    vertical-align: top;
    padding-top: 1.5%;
    text-align: center;
    width:100%;
    padding-bottom: 20%;
    display:inline-block;
}

#yearly_revenue_graph{
    height: 25rem;
    width: 100%;
    display:inline-block;
    
}

#annotation_growth{
    width:29.4%;
    padding-top: 2%;
    padding-bottom: 1%;
    text-align: justify;
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    display:inline-block;
}

#growth_compiled{
    padding-left: 10%;
    padding-right: 10%;
    text-align: center;
}